


#sample_names,
#feature_names {
    display: none;

}


input {
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.chat_label {
    border: none;
    background-color: #7597d2;
    /*color: white;*/
}

#input_submit {
    margin-top: 1em;
}

#weight_input,
#score_input,
#input_submit {
    display: none;
}


#basic,
#weight_input,
#score_input {
    border: 1px solid grey;
    padding: 1em;
    width: 500px;
}

/*#weight_input {
    border: 1px solid  red;
}

#score_input {
    border: 1px solid  yellow;
}
*/

table {
    border-collapse:collapse;
    border:1px solid #aaa;
    width:500px;
    margin-top: 1em
}
th {
    vertical-align:baseline;
    padding:5px 15px 5px 6px;
    border:1px solid #aaa;
    text-align:left;
}

td {
    vertical-align:text-top;
    padding:6px 15px;
    border:1px solid #aaa;
}