body {
    margin: 0;
    padding: 0;
}

h2 a {
    color: black;
    margin-left:10px;
    text-decoration: none;
}

#container {
    width: 100%;
}

#sample_names,
#feature_names {
    display: none;
}


input {
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.chat_label {
    border: none;
    background-color: #7597d2;
}

#submit_button {
    margin-left: 10px;
    margin-top: 1em;
    border: 1px solid;
    background: white;
    padding: 0.5em 1em;

    font-size: 12px;
    cursor: pointer;
}

#submit_button:hover {
    color: white;
    background: grey;
}

#weight_input,
#score_input,
#submit_button {
    display: none;
}

#basic,
#weight_input,
#score_input {
    border: 1px solid grey;
    padding: 10px;
}

/*#weight_input {
    border: 1px solid  red;
}

#score_input {
    border: 1px solid  yellow;
}
*/

table {
    border-collapse:collapse;
    border:1px solid #aaa;
    margin:10px;
}
th {
    vertical-align:baseline;
    padding:5px 15px;
    border:1px solid #aaa;
    text-align:left;
}

td {
    vertical-align:text-top;
    padding:6px 15px;
    border:1px solid #aaa;
}