{% extends 'layout.html' %}
{% block content %}
<div id="container">
    <div id='basic' class="input_area">
        <h3>主题、对象和特征</h3>
        <div id='topic'>
            <p>请输入本次讨论的主题：</p>
            <input type="text" name="topic" autofocus="true">
        </div>

        <div id='sample_names'>
            <p>请输入要对比的对象（以逗号分隔）：</p>
            <input type="text" name="sample_names">
        </div>

        <div id='feature_names'>
            <p>请输入要比较的特征（以逗号分隔）：</p>
            <input type="text" name="feature_names">
        </div>
    </div>



    <div id='weight_input' class="input_area">
        <h3>特征权重</h3>
    </div>
    <div id='score_input' class="input_area">
        <h3>对象评分</h3>
    </div>

    <button id='submit_button'>提交</button>

    <div id='result'></div>
</div>

<script type="text/javascript">
        var data = {}
        var response = function (target,e) {
             var key = e.which;
             if(key == 13){
                console.info(target.value)
                data[target.name] = target.value;
                $(target).attr('class','chat_label')
                $(target).attr('readonly','true')
                $(target).parent().next('div').css('display','block');
                $(target).parent().next('div').find('input').focus();
                if (target.name == 'feature_names'){
                    feature_names = data['feature_names'].split(/\,|\，/)
                    sample_names = data['sample_names'].split(/\,|\，/)
                    weight_input(feature_names)
                    score_input(feature_names,sample_names)
                    $('#weight_input').css('display','block');
                    $('#score_input').css('display','block');
                    $('#submit_button').css('display','block');
                }
            }
        }

        $('input').keypress(function(e){response(this,e)});

        var weight_input = function(feature_names){
            for (feature of feature_names){
                newElement = '<div><p>对于'+feature+'，请在下面选择权重：</p><input type="range" value="0" min="-2" max="2" name="weight_'+feature+'"></div>'
                $('#weight_input').append(newElement);
            }
        }

        var score_input = function(feature_names,sample_names){
            for (feature_name of feature_names){
                for (sample_name of sample_names){
                    message = '对于'+feature_name+'，你觉得'+sample_name+'怎么样，请选择：'
                    newElement = numinput(message,feature_name+'_'+sample_name)
                    $('#score_input').append(newElement)
                }
                $('#score_input').append('<hr>')
            }
            $('#score_input').find('hr').last().remove()
        }

        var numinput = function(message,name){
            return '<div><p>'+message+'</p><input type="range" value="1" min="0" max="2" name="score_'+name+'"></div>'
        }

        $('#submit_button').click(function(){
            console.info($('input').length)
            var formdata = {}
            
            $('input').each(function(){
                formdata[this.name] = this.value;
            })
            console.info(formdata)
            $.ajax({
                url: "/data_submit",
                data: formdata,
                type: "POST",
                dataType : "text",
            }).done(function( text ) {
                $('#result').html(text);
          });
        })

</script>

{% endblock %}
</body>
</html>