<!DOCTYPE html>
<html>
<head>
    <title>Robot Think</title>
<!--     <link rel="stylesheet" href="static/botui.min.css" />
    <link rel="stylesheet" href="static/botui-theme-default.css" />
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="static/botui.min.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="static/semantic.min.css"> -->
    <script type="text/javascript" src="static/jquery-3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <!-- <script type="text/javascript" src="static/semantic.min.js"></script> -->
</head>
<body>
<h2><a href="/">程序化决策</a></h2>

{% block content %}
{% endblock %}
</body>
</html>